<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio_costco' %}">Sistema de Administración Costco</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'inicio_costco' %}">Inicio</a></li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Usuarios</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_usuario' %}">Agregar Usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_usuario' %}">Ver Usuarios</a></li>
              <li><a class="dropdown-item" href="#">Actualizar Usuario</a></li>
              <li><a class="dropdown-item" href="#">Borrar Usuario</a></li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar producto</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_producto' %}">Ver productos</a></li>
              <li><a class="dropdown-item" href="#">Actualizar producto</a></li>
              <li><a class="dropdown-item" href="#">Borrar producto</a></li>
            </ul>
          </li>

  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Pedidos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_pedido' %}">Agregar pedido</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_pedido' %}">Ver pedidos</a></li>
              <li><a class="dropdown-item" href="#">Actualizar pedido</a></li>
              <li><a class="dropdown-item" href="#">Borrar pedido</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarProveedor" role="button" data-bs-toggle="dropdown">
              Proveedores
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar proveedor</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_proveedor' %}">Ver proveedores</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarCategoria" role="button" data-bs-toggle="dropdown">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_categoria' %}">Agregar categoría</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_categoria' %}">Ver categorías</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarEmpleado" role="button" data-bs-toggle="dropdown">
              Empleados
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_empleado' %}">Ver empleados</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarVentas" role="button" data-bs-toggle="dropdown">
              Ventas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'agregar_ventas' %}">Agregar venta</a></li>
              <li><a class="dropdown-item" href="{% url 'ver_ventas' %}">Ver ventas</a></li>
            </ul>
          </li>


        </ul>
      </div>
    </div>
  </nav>