{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
  <h4 class="mb-3">Lista de Categorías</h4>
  <table class="table table-striped align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for c in categorias %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>
          <a href="{% url 'actualizar_categoria' c.id %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'borrar_categoria' c.id %}" class="btn btn-danger btn-sm">Borrar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
